<!doctype html>
<html ng-app="cardApp">
<head>
    <title>Starting Angular - Cards</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" />

</head>
<body>

    <article class="container">

        <ul class="unstyled">
            <li class="dropdown" ng-controller="DropdownCtrl">
                <a class="dropdown-toggle btn">
                    Source
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="choice in items">
                        <a>{{choice.text}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <section class="row">
            <div class="span12">
                <div ng-controller="AppCtrl" ng-model="title">
                    <h1>{{title}}</h1>
                    <a href="#home">Card List</a> | <a href="#add">Add Card</a>
                    <div ng-view></div>
                </div>
            </div>

        </section>
        <section class="row">
            <div class="span12">

                <!-- TODO Remove or do something practical with the accordion. -->
                <div ng-controller="AccordionDemoCtrl">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="oneAtATime">
                        Open only one at a time
                    </label>

                    <accordion close-others="oneAtATime">
                        <accordion-group heading="Static Header">
                            This content is straight in the template.
                        </accordion-group>
                        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                            {{group.content}}
                        </accordion-group>
                        <accordion-group heading="Dynamic Body Content">
                            <p>The body of the accordion group grows to fit the contents</p>
                            <button class="btn btn-small" ng-click="addItem()">Add Item</button>
                            <div ng-repeat="item in items">{{item}}</div>
                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                I can have markup, too! <i class="icon-check"></i>
                            </accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </section>

    </article>




    <!-- js at end to improve performance -->
    <!--
    <script src="http://code.angularjs.org/angular-1.2.0-8336b3a/angular.min.js"></script>
    <script src="http://code.angularjs.org/angular-1.2.0-8336b3a/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/angular-1.2.0-8336b3a/angular-sanitize.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>

</body>
</html>
