<!doctype html>
<html ng-app="cardApp">
<head>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">


    <script id="template/alert/alert.html" type="text/ng-template">
        <div class='alert' ng-class='type && "alert-" + type'>
            <button ng-show='closeable' type='button' class='close' ng-click='close()'>Close</button>
            <div ng-transclude></div>
        </div>
    </script>

</head>
<body>

    <div ng-controller="AlertDemoCtrl">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <button class='btn' ng-click="addAlert()">Add Alert</button>
    </div>


    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/ui-for-bootstrap-3/us-bootstrap-0.6.0.js"></script>

    <!--site-->
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>

</body>
</html>
