<!DOCTYPE html>
<html>
<head>
    <title>BigFont ~ AngularJS</title>

</head>
<body>

    <div ng-app="myApp">

        <a class="custom-button">Click me</a>

        <a href="" ng-click="toggle = !toggle">Toggle nav</a>
        <ul ng-show="toggle">
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
        </ul>

        <p>{{ data.length > 0 && 'My data' || 'No data' }}</p>


        <div ng-controller="EmailsCtrl">

            <ul>
                <li ng-repeat="message in emails.messages">
                    <p>From: {{ message.from }}</p>
                    <p>Subject: {{ message.subject }}</p>
                    <p>{{ message.sent | date:'MMM d, y h:mm:ss a' }}</p>
                    <a ng-click="deleteEmail($index)">Delete email</a>
                </li>
            </ul>

        </div>

        <div ng-controller="MainCtrl">

            {{ text }}

            <p>No filter: {{ greeting }}</p>

            <p>Reverse: {{ greeting | reverse }}</p>

            <input class="ng-pristine ng-valid" type="text" ng-model="lowerBound">

            <ul>

                <li ng-repeat="number in numbers | filter:greaterThanNum">
                    {{ number }}
                </li>

            </ul>

        </div>

        <div ng-controller="UserCtrl">

            <p class="username">Welcome, {{ user.details.username }}</p>
            <p class="id">User ID: {{ user.details.id }}</p>

        </div>

    </div>

    <script src="Scripts/angular.min.js"></script>    
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/site.js"></script>

</body>
</html>
